<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />

    {% if auth() %}
        {% if 'development' == env %}
            {{ debugbar.renderHead() | raw }}
        {% endif %}
        {{ container.get('debugbar').Twig.info('app/resources/twig/view/layout.html.twig') }}
    {% endif %}

</head>
<body>

    {% block content %}{% endblock %}

    {% if auth() %}
        {% if 'development' == env %}
            {{ debugbar.render() | raw }}
        {% endif %}
    {% endif %}
</body>
</html>
